<div class="container">
        <div class="row">
               <div class="col-md-12 bg-warning jumbotron ">
                   <h3>Welcome to Git-Search</h3>
                  
                  
                   
                   
                   <table class="table col-md-6 table-striped table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col"><h4>What Application does</h4></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Enables you search for a Github user profile</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Displays User's basic information</td>
                           
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Displays user's public repositories</td>
                           
                          </tr>
                        </tbody>
                      </table>


               </div>
        </div>
                
</div>
